body {

}

.body-loading {
    opacity: 0.1; /* or any value that makes it look light */
    /* Optionally, we can also set a pointer-events to none to prevent interactions /
    pointer-events: none;
    / If we want to make sure the body doesn't scroll while loading */
    overflow: hidden;
}
