{% block html %}
    <h1>Confirmation</h1>
    <p>Your order is confirmed!</p>
{% endblock %}

{% block text %}
    Your order is confirmed!
{% endblock %}

{% block subject %}Order confirmation: 300 Easter Eggs{% endblock %}

{#{% block config %}#}
{#    {% do email.attach('@images/company_logo.png') %}#}
{#{% endblock %}#}
