{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block stylesheets %}
    {{ vite_entry_link_tags('project') }}
{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('project', { dependency: 'react' }) }}
{% endblock %}

{% block body %}
{#    SPA!!!#}
{#    {{ dump(app) }}#}
{#

    {% if vite_mode() == 'dev' %}
        DEV!
    {% endif %}

    {% if vite_mode() == 'prod' %}
        PROD!
    {% endif %}
#}
    <div id="root"></div>
{% endblock %}


